form {
    input[type="reset"] {
        line: { 
            height: 1.5;
        }
        background: {
            color: #0d6efd;
        }
        color: #fff;
        padding: {
            top: 6px;
            right: 12px;
            bottom: 6px;
            left: 12px;
        }
        margin: {
            top: 6px;
            right: 6px;
            bottom: 6px;
        }
        border: none;
        cursor: pointer;
        transition: all 300ms ease;
        &:focus {
            box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
        }
    }
    input[type="submit"] {
        line: { 
            height: 1.5;
        }
        background: {
            color: #0d6efd;
        }
        color: #fff;
        padding: {
            top: 6px;
            right: 12px;
            bottom: 6px;
            left: 12px;
        }
        margin: {
            top: 6px;
            right: 6px;
            bottom: 6px;
        }
        border: none;
        cursor: pointer;
        transition: all 300ms ease;
        &:focus {
            box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
        }
    }
}