// Logo
a.sitename {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // font: {
    //     size: 0;
    // }
    text: {
        decoration: none;
    }
    color: #000;
    .sitename__logo {
        max: {
            width: 40px;
        }
        margin: {
            right: 5px;
        }
    }    
    .sitename__title {        
        margin: {
            bottom: 0;
        }
    }
}