@import 'normalize';
@import 'vars';
@import 'fonts';

body {
    display: grid;
    grid: {
        template: {
            areas:  'head head head head'
                    'content content content content'
                    'foot foot foot foot';
            rows: auto 1fr auto;                        // Ajuste para el sticky header y el sticky footer.
                                                        // content se expande una fracción (1fr), mientras que head y foot ocuparán el espacio de su contenido.
        } 
    }
    min: {
        height: 100vh;                                  //Ajuste para el sticky footer.
    }
}

@import 'form-subscribe';

iframe {
    display: block;
    width: 100%;
    max-width: 560px;
    max-height: 315px;
    padding: {
        bottom: 2rem;
    }
    margin: 0 auto;
}

// Contenedores
// .container-full {
//     max-width: 100vw;
// }
//
// .container-xlarge {
//     max-width: 1140px;
//     padding: 0 12px;
//     margin: 0 auto;
// }

[class*="-region"] {
    max-width: 1140px;
}

@import 'header';

// Contenido principal
main {
    grid-area: content;
    margin: {
        top: 0;
        right: 0; 
        bottom: 50px;
        left: 0;
    }
    section#welcome {
        margin: {
            top: 50px;
        }
    }
    section:not(:last-child) {
        margin: {
            top: 0;
            right: 0;
            bottom: 50px;
            left: 0;
        }
    }
}

// Banners
[class*="-bnr"] {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: flex-start;
    // align-items: flex-end;
    width: 100%;
    min: {
        height: 75px;
    }
    background: {
        color: #000;
        repeat: no-repeat;
        position: left top;
    }
    padding: {
        top: 12px;
        right: 15px;
        bottom: 8px;
        left: 15px;
    }
    margin: {
        bottom: 25px;
    }
    .bnr__title {
        background: {
            color: rgba(0,0,0,0.6);
        }
        color: #fff;
        padding: {
            top: 5px;
            right: 15px;
            bottom: 5px;
            left: 15px;
        }
    }
}

.home-bnr {
    background: {
        image: url('../img/BNR-Bookshelf1.jpg');
    }
}

.books-bnr {
    background: {
        image: url('../img/BNR-Bookshelf2.jpg');
    }
}

.newreleases-bnr {
    background: {
        image: url('../img/BNR-Bookshelf3.jpg');
    }
}

.recommendations-bnr {
    background: {
        image: url('../img/BNR-Bookshelf4.jpg');
    }
}

.contactus-bnr {
    background: {
        image: url('../img/BNR-Contactus.jpg');
    }
}

.section-title {
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    // width: 33.333%;
    margin: {
        bottom: 20px;
    }
    background: {
        color: #444;
    }
    color: #fff;
    h2 {
        padding: {
            top: 14px;
            right: 25px;
            bottom: 14px;
            left: 25px;
        }
        margin: {
            bottom: 0;
        }
    }
}

// Botones
button.btn,
input.btn {   
    // padding: {
    //     top: 8px;
    //     right: 12px;
    //     bottom: 8px;
    //     left: 12px;
    // } 
    border: none;
    border-radius: 0;
    transition: all 300ms ease;
}

@import "carousel";

.cards-region {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: flex-start;
    overflow: visible;
    .row {
        .col {
            padding: 12px;
            @import 'card';
        }
    }
}

@import 'footer';
@import 'media-queries';